In [105]:
import pandas as pd
from sqlalchemy import create_engine

In [106]:
fao_data = "Resources/faostat.csv"
obesity_data = "Resources/obesity.csv"

In [107]:
fao_df = pd.read_csv(fao_data)
obesity_df = pd.read_csv(obesity_data)

In [108]:
fao_sort = fao_df[["Country", "Item", "Year", "Value" ]]

In [109]:
obesity_sort = obesity_df[["Country", "Year", "Obesity (%)", "Sex" ]]

In [110]:
fao_sort

           Country                     Item  Year        Value
0      Afghanistan              Animal fats  1975     28559.00
1      Afghanistan              Animal fats  1976     31347.00
2      Afghanistan              Animal fats  1977     30698.00
3      Afghanistan              Animal fats  1978     31009.00
4      Afghanistan              Animal fats  1979     31415.00
...            ...                      ...   ...          ...
25859        China  Milk - Excluding Butter  2009  40847443.77
25860        China  Milk - Excluding Butter  2010  43032137.89
25861        China  Milk - Excluding Butter  2011  44112511.19
25862        China  Milk - Excluding Butter  2012  46460541.62
25863        China  Milk - Excluding Butter  2013  47009195.55

[25864 rows x 4 columns]

In [111]:
category_df = pd.get_dummies(fao_sort.Item)

In [112]:
category_df['Animal fats'] = category_df['Animal fats']*fao_sort.Value

In [113]:
category_df['Fish, Seafood'] = category_df['Fish, Seafood']*fao_sort.Value

In [114]:
category_df['Milk - Excluding Butter'] = category_df['Milk - Excluding Butter']*fao_sort.Value

In [115]:
category_df['Meat'] = category_df['Meat']*fao_sort.Value

In [116]:
category_df

       Animal fats  Fish, Seafood  Meat  Milk - Excluding Butter
0          28559.0            0.0   0.0                     0.00
1          31347.0            0.0   0.0                     0.00
2          30698.0            0.0   0.0                     0.00
3          31009.0            0.0   0.0                     0.00
4          31415.0            0.0   0.0                     0.00
...            ...            ...   ...                      ...
25859          0.0            0.0   0.0              40847443.77
25860          0.0            0.0   0.0              43032137.89
25861          0.0            0.0   0.0              44112511.19
25862          0.0            0.0   0.0              46460541.62
25863          0.0            0.0   0.0              47009195.55

[25864 rows x 4 columns]

In [117]:
concat_result = pd.concat([fao_sort, category_df], axis = 1)

In [118]:
concat_result

,Country,Item,Year,Value,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter
0,Afghanistan,Animal fats,1975,28559.00,28559.0,0.0,0.0,0.00
1,Afghanistan,Animal fats,1976,31347.00,31347.0,0.0,0.0,0.00
2,Afghanistan,Animal fats,1977,30698.00,30698.0,0.0,0.0,0.00
3,Afghanistan,Animal fats,1978,31009.00,31009.0,0.0,0.0,0.00
4,Afghanistan,Animal fats,1979,31415.00,31415.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...
25859,China,Milk - Excluding Butter,2009,40847443.77,0.0,0.0,0.0,40847443.77
25860,China,Milk - Excluding Butter,2010,43032137.89,0.0,0.0,0.0,43032137.89
25861,China,Milk - Excluding Butter,2011,44112511.19,0.0,0.0,0.0,44112511.19
25862,China,Milk - Excluding Butter,2012,46460541.62,0.0,0.0,0.0,46460541.62
25863,China,Milk - Excluding Butter,2013,47009195.55,0.0,0.0,0.0,47009195.55

In [119]:
concat_result.loc[(concat_result["Country"] == "Afghanistan") & (concat_result["Year"] == 1975)]

,Country,Item,Year,Value,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter
0,Afghanistan,Animal fats,1975,28559.0,28559.0,0.0,0.0,0.0
39,Afghanistan,"Fish, Seafood",1975,660.0,0.0,660.0,0.0,0.0
78,Afghanistan,Meat,1975,197928.0,0.0,0.0,197928.0,0.0
117,Afghanistan,Milk - Excluding Butter,1975,777020.5,0.0,0.0,0.0,777020.5

In [120]:
group_concat_result = concat_result.groupby(['Country','Year']).sum()

In [121]:
group_concat_result = group_concat_result.reset_index()

In [122]:
group_fin = group_concat_result.drop(columns="Value")

In [123]:
group_fin.loc[(group_fin["Country"] == "China") & (group_fin["Year"] == 1989)]

,Country,Year,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter
1194,China,1989,1320395.17,12617563.93,27702060.34,6381138.31

In [124]:
group_concat_result.loc[(group_concat_result["Country"] == "China") & (group_concat_result["Year"] == 1989)]

,Country,Year,Value,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter
1194,China,1989,48021157.75,1320395.17,12617563.93,27702060.34,6381138.31

In [125]:
group_fin

,Country,Year,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter
0,Afghanistan,1975,28559.00,660.00,197928.00,777020.50
1,Afghanistan,1976,31347.00,770.00,222428.00,799609.15
2,Afghanistan,1977,30698.00,770.00,228988.00,734533.40
3,Afghanistan,1978,31009.00,770.00,234460.00,745677.02
4,Afghanistan,1979,31415.00,770.00,234718.00,754000.11
...,...,...,...,...,...,...
6461,Zimbabwe,2009,30533.17,17538.31,265112.63,384771.32
6462,Zimbabwe,2010,29862.17,29130.28,262329.40,417734.30
6463,Zimbabwe,2011,25324.32,39911.35,277321.25,456966.87
6464,Zimbabwe,2012,25767.32,39911.35,280034.49,426430.11
6465,Zimbabwe,2013,20224.56,39911.35,258115.92,451443.03

In [126]:
obesity_sort.head(20)

        Country  Year    Obesity (%)         Sex
0   Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1   Afghanistan  1975  0.2 [0.0-0.6]        Male
2   Afghanistan  1975  0.8 [0.2-2.0]      Female
3   Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4   Afghanistan  1976  0.2 [0.0-0.7]        Male
5   Afghanistan  1976  0.8 [0.2-2.0]      Female
6   Afghanistan  1977  0.6 [0.2-1.2]  Both sexes
7   Afghanistan  1977  0.2 [0.0-0.7]        Male
8   Afghanistan  1977  0.9 [0.3-2.1]      Female
9   Afghanistan  1978  0.6 [0.2-1.3]  Both sexes
10  Afghanistan  1978  0.2 [0.1-0.7]        Male
11  Afghanistan  1978  0.9 [0.3-2.2]      Female
12  Afghanistan  1979  0.6 [0.3-1.3]  Both sexes
13  Afghanistan  1979  0.3 [0.1-0.8]        Male
14  Afghanistan  1979  1.0 [0.3-2.3]      Female
15  Afghanistan  1980  0.7 [0.3-1.4]  Both sexes
16  Afghanistan  1980  0.3 [0.1-0.8]        Male
17  Afghanistan  1980  1.1 [0.4-2.4]      Female
18  Afghanistan  1981  0.7 [0.3-1.4]  Both sexes
19  Afghanistan  1981  0.3 [0.1-0.8]        Male

In [127]:
obesity_sort['Obesity Ratio'] = obesity_sort['Obesity (%)'].str.split(' ', expand=True)[0]
obesity_sort['Obesity Ratio'] = pd.to_numeric(obesity_sort['Obesity Ratio'], errors='coerce')

obesity_sort

           Country  Year       Obesity (%)         Sex  Obesity Ratio
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes            0.5
1      Afghanistan  1975     0.2 [0.0-0.6]        Male            0.2
2      Afghanistan  1975     0.8 [0.2-2.0]      Female            0.8
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes            0.5
4      Afghanistan  1976     0.2 [0.0-0.7]        Male            0.2
...            ...   ...               ...         ...            ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male            4.5
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female           24.8
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes           15.5
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male            4.7
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female           25.3

[24570 rows x 5 columns]

In [130]:

obesity_category_df = pd.get_dummies(obesity_sort['Sex'])
obesity_category_df

       Both sexes  Female  Male
0               1       0     0
1               0       0     1
2               0       1     0
3               1       0     0
4               0       0     1
...           ...     ...   ...
24565           0       0     1
24566           0       1     0
24567           1       0     0
24568           0       0     1
24569           0       1     0

[24570 rows x 3 columns]

In [134]:
obesity_category_df['Both sexes'] = obesity_category_df['Both sexes']*obesity_sort['Obesity Ratio']
obesity_category_df

       Both sexes  Female  Male
0            0.25       0     0
1            0.00       0     1
2            0.00       1     0
3            0.25       0     0
4            0.00       0     1
...           ...     ...   ...
24565        0.00       0     1
24566        0.00       1     0
24567      240.25       0     0
24568        0.00       0     1
24569        0.00       1     0

[24570 rows x 3 columns]

In [135]:
obesity_category_df['Female'] = obesity_category_df['Female']*obesity_sort['Obesity Ratio']
obesity_category_df

       Both sexes  Female  Male
0            0.25     0.0     0
1            0.00     0.0     1
2            0.00     0.8     0
3            0.25     0.0     0
4            0.00     0.0     1
...           ...     ...   ...
24565        0.00     0.0     1
24566        0.00    24.8     0
24567      240.25     0.0     0
24568        0.00     0.0     1
24569        0.00    25.3     0

[24570 rows x 3 columns]

In [136]:
obesity_category_df['Male'] = obesity_category_df['Male']*obesity_sort['Obesity Ratio']
obesity_category_df

       Both sexes  Female  Male
0            0.25     0.0   0.0
1            0.00     0.0   0.2
2            0.00     0.8   0.0
3            0.25     0.0   0.0
4            0.00     0.0   0.2
...           ...     ...   ...
24565        0.00     0.0   4.5
24566        0.00    24.8   0.0
24567      240.25     0.0   0.0
24568        0.00     0.0   4.7
24569        0.00    25.3   0.0

[24570 rows x 3 columns]

In [139]:
concat_result_obesity = pd.concat([obesity_sort, obesity_category_df], axis = 1)
concat_result_obesity

,Country,Year,Obesity (%),Sex,Obesity Ratio,Both sexes,Female,Male
0,Afghanistan,1975,0.5 [0.2-1.1],Both sexes,0.5,0.25,0.0,0.0
1,Afghanistan,1975,0.2 [0.0-0.6],Male,0.2,0.00,0.0,0.2
2,Afghanistan,1975,0.8 [0.2-2.0],Female,0.8,0.00,0.8,0.0
3,Afghanistan,1976,0.5 [0.2-1.1],Both sexes,0.5,0.25,0.0,0.0
4,Afghanistan,1976,0.2 [0.0-0.7],Male,0.2,0.00,0.0,0.2
...,...,...,...,...,...,...,...,...
24565,Zimbabwe,2015,4.5 [2.4-7.6],Male,4.5,0.00,0.0,4.5
24566,Zimbabwe,2015,24.8 [18.9-31.3],Female,24.8,0.00,24.8,0.0
24567,Zimbabwe,2016,15.5 [12.0-19.2],Both sexes,15.5,240.25,0.0,0.0
24568,Zimbabwe,2016,4.7 [2.5-8.0],Male,4.7,0.00,0.0,4.7
24569,Zimbabwe,2016,25.3 [19.1-32.0],Female,25.3,0.00,25.3,0.0

In [151]:
group_concat_result_obesity = concat_result_obesity.groupby(['Country','Year']).sum()
obesity_fin = group_concat_result_obesity.reset_index()

In [153]:
obesity_fin

          Country  Year  Obesity Ratio  Both sexes  Female  Male
0     Afghanistan  1975            1.5        0.25     0.8   0.2
1     Afghanistan  1976            1.5        0.25     0.8   0.2
2     Afghanistan  1977            1.7        0.36     0.9   0.2
3     Afghanistan  1978            1.7        0.36     0.9   0.2
4     Afghanistan  1979            1.9        0.36     1.0   0.3
...           ...   ...            ...         ...     ...   ...
8185     Zimbabwe  2012           41.8      204.49    23.5   4.0
8186     Zimbabwe  2013           42.7      213.16    23.9   4.2
8187     Zimbabwe  2014           43.7      222.01    24.4   4.4
8188     Zimbabwe  2015           44.5      231.04    24.8   4.5
8189     Zimbabwe  2016           45.5      240.25    25.3   4.7

[8190 rows x 6 columns]

In [154]:
group_fin

,Country,Year,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter
0,Afghanistan,1975,28559.00,660.00,197928.00,777020.50
1,Afghanistan,1976,31347.00,770.00,222428.00,799609.15
2,Afghanistan,1977,30698.00,770.00,228988.00,734533.40
3,Afghanistan,1978,31009.00,770.00,234460.00,745677.02
4,Afghanistan,1979,31415.00,770.00,234718.00,754000.11
...,...,...,...,...,...,...
6461,Zimbabwe,2009,30533.17,17538.31,265112.63,384771.32
6462,Zimbabwe,2010,29862.17,29130.28,262329.40,417734.30
6463,Zimbabwe,2011,25324.32,39911.35,277321.25,456966.87
6464,Zimbabwe,2012,25767.32,39911.35,280034.49,426430.11
6465,Zimbabwe,2013,20224.56,39911.35,258115.92,451443.03

In [164]:
merged_data = pd.merge(group_fin, obesity_fin, how = 'inner', left_index = True, right_index=True)
merged_data

,Country_x,Year_x,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter,Country_y,Year_y,Obesity Ratio,Both sexes,Female,Male
0,Afghanistan,1975,28559.00,660.00,197928.00,777020.50,Afghanistan,1975,1.5,0.25,0.8,0.2
1,Afghanistan,1976,31347.00,770.00,222428.00,799609.15,Afghanistan,1976,1.5,0.25,0.8,0.2
2,Afghanistan,1977,30698.00,770.00,228988.00,734533.40,Afghanistan,1977,1.7,0.36,0.9,0.2
3,Afghanistan,1978,31009.00,770.00,234460.00,745677.02,Afghanistan,1978,1.7,0.36,0.9,0.2
4,Afghanistan,1979,31415.00,770.00,234718.00,754000.11,Afghanistan,1979,1.9,0.36,1.0,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...
6461,Zimbabwe,2009,30533.17,17538.31,265112.63,384771.32,Serbia,2010,57.4,368.64,20.0,18.2
6462,Zimbabwe,2010,29862.17,29130.28,262329.40,417734.30,Serbia,2011,58.5,384.16,20.3,18.6
6463,Zimbabwe,2011,25324.32,39911.35,277321.25,456966.87,Serbia,2012,59.7,400.00,20.6,19.1
6464,Zimbabwe,2012,25767.32,39911.35,280034.49,426430.11,Serbia,2013,60.8,412.09,20.9,19.6
6465,Zimbabwe,2013,20224.56,39911.35,258115.92,451443.03,Serbia,2014,62.0,428.49,21.2,20.1

In [165]:
merged_data = merged_data.drop(columns="Country_y")

In [166]:
merged_data = merged_data.drop(columns="Year_y")

In [167]:
merged_data

,Country_x,Year_x,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter,Obesity Ratio,Both sexes,Female,Male
0,Afghanistan,1975,28559.00,660.00,197928.00,777020.50,1.5,0.25,0.8,0.2
1,Afghanistan,1976,31347.00,770.00,222428.00,799609.15,1.5,0.25,0.8,0.2
2,Afghanistan,1977,30698.00,770.00,228988.00,734533.40,1.7,0.36,0.9,0.2
3,Afghanistan,1978,31009.00,770.00,234460.00,745677.02,1.7,0.36,0.9,0.2
4,Afghanistan,1979,31415.00,770.00,234718.00,754000.11,1.9,0.36,1.0,0.3
...,...,...,...,...,...,...,...,...,...,...
6461,Zimbabwe,2009,30533.17,17538.31,265112.63,384771.32,57.4,368.64,20.0,18.2
6462,Zimbabwe,2010,29862.17,29130.28,262329.40,417734.30,58.5,384.16,20.3,18.6
6463,Zimbabwe,2011,25324.32,39911.35,277321.25,456966.87,59.7,400.00,20.6,19.1
6464,Zimbabwe,2012,25767.32,39911.35,280034.49,426430.11,60.8,412.09,20.9,19.6
6465,Zimbabwe,2013,20224.56,39911.35,258115.92,451443.03,62.0,428.49,21.2,20.1

In [ ]:
df.rename(columns={"A": "a", "B": "c"})

In [171]:
merged_data = merged_data.rename(columns={"Country_x" : "Coutnry", "Year_x" : "Year"})
merged_data

,Coutnry,Year,Animal fats,"Fish, Seafood",Meat,Milk - Excluding Butter,Obesity Ratio,Both sexes,Female,Male
0,Afghanistan,1975,28559.00,660.00,197928.00,777020.50,1.5,0.25,0.8,0.2
1,Afghanistan,1976,31347.00,770.00,222428.00,799609.15,1.5,0.25,0.8,0.2
2,Afghanistan,1977,30698.00,770.00,228988.00,734533.40,1.7,0.36,0.9,0.2
3,Afghanistan,1978,31009.00,770.00,234460.00,745677.02,1.7,0.36,0.9,0.2
4,Afghanistan,1979,31415.00,770.00,234718.00,754000.11,1.9,0.36,1.0,0.3
...,...,...,...,...,...,...,...,...,...,...
6461,Zimbabwe,2009,30533.17,17538.31,265112.63,384771.32,57.4,368.64,20.0,18.2
6462,Zimbabwe,2010,29862.17,29130.28,262329.40,417734.30,58.5,384.16,20.3,18.6
6463,Zimbabwe,2011,25324.32,39911.35,277321.25,456966.87,59.7,400.00,20.6,19.1
6464,Zimbabwe,2012,25767.32,39911.35,280034.49,426430.11,60.8,412.09,20.9,19.6
6465,Zimbabwe,2013,20224.56,39911.35,258115.92,451443.03,62.0,428.49,21.2,20.1

In [172]:
connection_string = "postgres:postgres@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection_string}')

In [173]:
 # Confirm tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
['Coutnry', 'Year', 'Animal fats', 'Fish, Seafood', 'Meat', 'Milk - Excluding Butter', 'Obesity Ratio', 'Both sexes', 'Female', 'Male']

#  Load DataFrames into database

In [174]:
merged_data.to_sql(name='Country', con=engine, if_exists='append', index=True)

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [175]:
merged_data.to_sql(name='Year', con=engine, if_exists='append', index=True)

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
merged_data.to_sql(name='Animal fats', con=engine, if_exists='append', index=True)

In [ ]:
merged_data.to_sql(name='Fish, Seafood', con=engine, if_exists='append', index=True)

In [ ]:
merged_data.to_sql(name='Meat', con=engine, if_exists='append', index=True)

In [ ]:
merged_data.to_sql(name='Milk - Excluding Butter', con=engine, if_exists='append', index=True)

In [ ]:
merged_data.to_sql(name='Obesity Ratio', con=engine, if_exists='append', index=True)

In [ ]:
merged_data.to_sql(name='Both sexes', con=engine, if_exists='append', index=True)

In [ ]:
merged_data.to_sql(name='Female', con=engine, if_exists='append', index=True)

In [ ]:
merged_data.to_sql(name='Male', con=engine, if_exists='append', index=True)